.imageBankContainer{
    width : 94%;
    margin-left:3%;
    /*height: 500px;*/
    /*background-color: red;*/
}
.imageBankColumn{
  /*background-color: green;*/
  /*height: 250px;*/
  float: left;
}
.imageBankItem{
  /*background-color: blue;*/
  width: 96%;
  padding-bottom: 1px;
}
.imageBankItem:hover {
    box-shadow: 0px 0px 50px #888888;
    margin-bottom: 5px;
    /*padding: 2px;*/
    /*padding-bottom: 15px;*/
}


.iBankImage{
  margin-top:4px;
  width: 96%;
  margin-left: 2%;
  cursor: pointer;
}
.iBankTitle{
  list-style: none;
  list-style-type: none;
  padding-left: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  line-height: 17px;
  cursor: pointer;
}
.ibFooter{
  float: left;
  width: 100%;
}
